@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600&family=Pacifico&family=Quicksand:wght@300;600&family=Raleway:wght@700&family=Roboto&display=swap');

html, body {
    box-sizing: border-box;
    margin: 0;
    height: 100vh;
}

.header {
    padding: 2rem 0;
    border-bottom: 2px solid #000;
}

.header__title {
    font-family: "Pacifico", sans-serif;
    text-align: center;
    margin: 0;
}

.container {
    background: #fceabb;
    background: -webkit-linear-gradient(to right, #3a00f8, #4e3cb4, #9453d1, #9954ee);
    background: linear-gradient(to right, #3a00f8, #4e3cb4, #9453d1, #9954ee);
    padding: 20px 0 0 0;
}

.form {
    width: 40%;
    height: auto;
    background: #fff;
    border: 1px solid #000;
    border-radius: 15px;
    margin: 40px auto;
    padding: 10px;
}

.form__rows {
    width: 50%;
    margin: 0 auto;
}

.form__title {
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin: 0.6rem 0;
}

.form__input {
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    width: 100%;
    margin: 20px 0;
    border: none;
    border-bottom: 2px solid rgb(40, 120, 185);
}

.chart {
    background: #fff;
    padding: 20px;
}

.chart__wrapper {
    margin-bottom: 700px;
    height: 200px;
}

.chart__axis-title {
    color: #000;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.chart__line-chart {
    height: inherit;
}

.y_axis {
    margin-left: 1rem;
}

.x_axis {
    text-align: right;
}

.form__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    padding: 15px;
    border: 0.5px solid #000;
    border-radius: 10px;
    color: #fff;
    text-transform: uppercase;
    font-family: "Quicksand", sans-serif;
    background:#000;
}

.form__button:hover {
    background: linear-gradient(to right, #3a00f8, #4e3cb4, #9453d1, #9954ee);
}

.form__button::before, .form__button::after {
    content: '';
    position: absolute;
    background: #000;
}

.loader {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
}

.loader:after {
    content: '';
    display: block;
    width: 80px;
    height: 80px;
    margin: 5px;
    border: 5px solid #000;
    border-radius: 50%;
    border-color: #000 transparent #000 transparent;
    animation: loader 1s linear infinite;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}